/*Account Page/ User info */

.account-info {
    display: flex;
    flex-direction: column;
}

.account-info {
    color: black;
}
.Account{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    content: 12px;
}