.footer {
    position: bottom;
    display: contents;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    background-color: black;
    color: gray;
    text-align: center;
    margin-top: 12px;
}
.footer p{
    color: white;
}

.footer img{
    width: 35px;
    height: 35px;
    margin: 10px;
}

.back{
    background-color: black;
}