/*Page used for when user logs into the website, its the first thing they see (slide 4- home on canva)*/

ul.project-list img{
    width: 100px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.project-list li{
    border: 1px solid #8900af;
    margin: 1em;
    width: 200px;
}

ul.project-list p.plus{
    font-size: 8em;
}

#app{
    display: grid;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.post img{
    width:100%;
    object-fit: cover;
}

.loader {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8900af;
    /* transition: opacity 0.75s, visibility 0.75s; */
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader-::after{
    content:"";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color:yellow ;
    border-radius: 50%;
    animation: loading .75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
/* #loader.show{
    display: block;
}  */