/*Page used for when user logs into the website, its the first thing they see (slide 4- home on canva)*/

ul.project-list img{
    width: 100px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.project-list li{
    border: 1px solid #8900af;
    margin: 1em;
    width: 200px;
}

ul.project-list p.plus{
    font-size: 8em;
}

#app{
    display: grid;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.post img{
    width:100%;
    object-fit: cover;
}

#loader {
    display: none;
}

#loader.show{
    display: block;
}