/*Main Css to effect all pages */

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: .002em;
  /* margin: 0em; */
  color: #5603AD;
  max-width: 100%;
}

#root button{
  background-color: #5603AD
}

a {
  font-weight: 500;
  color: #5603AD;
  text-decoration: inherit;
}

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  background: linear-gradient(to right, #eae6eb, #e69bfd);
  min-width: 320px;
  min-height: 100px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-bottom: 30px;
}

a {
  color: #5603AD;
}

header {
  background-color: black;
}

@media only screen  and  (max-width:300px){
  h1{
    font-size: 30px;
  }
  body{
  display:inline;
  background-color : linear-gradient(to right, #eae6eb, #e69bfd);
  }
}

button {
  background-color: #5603AD;
}

@media only screen  and  (min-width:300px){
  h1{
    font-size: 30px;
  }
  body{
  display:inline;
  background-color : linear-gradient(to right, #eae6eb, #e69bfd);
  }
}