/*page used allow user to login, page 2 on canva */

.login_1 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 45px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    width: 200px;
    height: 10em;
    margin: auto;
    margin-top: 4em;
    
}

button{
    padding: 15em;
    margin-top: 50px;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 40px;
}
.test{
    padding-top: 0px;
}

input{
    padding: .15em;
    margin: .15em;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;    
}

h4{
    padding: .15em;
    margin: 1em;
}
h1{
    padding-bottom: 0em;

}