/*This simply edits the nav bar*/

nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #c89bc7;
    border-radius: 40px;
    border-radius: 15px;
}

*{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    padding: 1em;
}

/* li.active{
    border-bottom: .1em solid #000000;
}   */
a:link, a:visited {
    color: blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover{
    background-color:#ffffff;
    border-radius: 40px;
    border-radius: 15px;
    padding: .15em;
    border-bottom: .13em solid #000000;
    }

.underline li:active{
    border-bottom: .1em solid #000000;
}