/*This simply edits the nav bar*/

nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    /* border-radius: 40px;
    border-radius: 15px; */
}

*{
    margin: 0px;
    padding: 0px;
    /* position: sticky; */
    top:0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    padding: 1em;
}

/* li.active{
    border-bottom: .1em solid #000000;
}   */

nav h2 {
    color: #8901AF;
    padding-left: .5em;
}

nav img{
    width: 50px;
}

nav div{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    align-items: center;
}
nav a:link, nav a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav a {
    transition: background-color 0.3s ease-in-out;
    padding: .25em;
    border-radius: 10%;
}
nav a:hover{
    background-color: #333333;
}

li.active a{
    color: #8901AF;
}

@media only screen  and  (max-width:455px ){
    li{
        padding: .5em;
    }
}