/*page used to show details of our project, page 5 on canva */


body{
    background: linear-gradient(to right, #eae6eb, #e69bfd);
}

.project img {
    width: 150px;
}

.project {
    margin-top: 20px;
}

a {
    margin-left:15px
}
    