/*page used allow users to sign up, page 3 on canva */
.signup {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    width: 200px;
    height: 17em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: .5em;
}
button{
    padding: 15em;
    margin-top: 50px;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 40px;
}
input{
    padding: .1em;
    margin: .15em;
}