.question {
    padding: 1em;
}
.question .questionText{
    text-align: left;
}

.question .questionText span.drop {
    float: right;
}

.question ol {
    display: flex;
    flex-direction: column;
}

.question ol li {
    display: list-item;
    list-style-position: inside;
    text-align: left;
    color: black;
}

.question p {
    text-align: left;
    color: black;
}

.question a {
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    
}
